# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# libtiff
3rdparty/tiff-4.6.0/config.log
3rdparty/tiff-4.6.0/config.status
3rdparty/tiff-4.6.0/libtiff-4.pc
3rdparty/tiff-4.6.0/libtool
3rdparty/tiff-4.6.0/Makefile
3rdparty/tiff-4.6.0/build/Makefile
3rdparty/tiff-4.6.0/config/config.h
3rdparty/tiff-4.6.0/config/stamp-h1
3rdparty/tiff-4.6.0/contrib/Makefile
3rdparty/tiff-4.6.0/contrib/addtiffo/Makefile
3rdparty/tiff-4.6.0/contrib/addtiffo/.deps/addtiffo.Po
3rdparty/tiff-4.6.0/contrib/addtiffo/.deps/tif_overview.Po
3rdparty/tiff-4.6.0/contrib/addtiffo/.deps/tif_ovrcache.Po
3rdparty/tiff-4.6.0/contrib/iptcutil/Makefile
3rdparty/tiff-4.6.0/contrib/iptcutil/.deps/iptcutil.Po
3rdparty/tiff-4.6.0/contrib/mfs/Makefile
3rdparty/tiff-4.6.0/contrib/pds/Makefile
3rdparty/tiff-4.6.0/contrib/ras/Makefile
3rdparty/tiff-4.6.0/contrib/stream/Makefile
3rdparty/tiff-4.6.0/contrib/tags/Makefile
3rdparty/tiff-4.6.0/contrib/win_dib/Makefile
3rdparty/tiff-4.6.0/doc/Makefile
3rdparty/tiff-4.6.0/libtiff/Makefile
3rdparty/tiff-4.6.0/libtiff/stamp-h2
3rdparty/tiff-4.6.0/libtiff/stamp-h3
3rdparty/tiff-4.6.0/libtiff/tif_config.h
3rdparty/tiff-4.6.0/libtiff/tiffconf.h
3rdparty/tiff-4.6.0/libtiff/tiffvers.h
3rdparty/tiff-4.6.0/libtiff/.deps/mkg3states.Po
3rdparty/tiff-4.6.0/libtiff/.deps/tif_aux.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_close.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_codec.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_color.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_compress.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_dir.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_dirinfo.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_dirread.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_dirwrite.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_dumpmode.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_error.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_extension.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_fax3.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_fax3sm.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_flush.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_getimage.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_hash_set.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_jbig.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_jpeg.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_jpeg_12.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_lerc.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_luv.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_lzma.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_lzw.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_next.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_ojpeg.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_open.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_packbits.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_pixarlog.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_predict.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_print.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_read.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_stream.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_strip.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_swab.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_thunder.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_tile.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_unix.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_version.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_warning.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_webp.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_win32.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_write.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_zip.Plo
3rdparty/tiff-4.6.0/libtiff/.deps/tif_zstd.Plo
3rdparty/tiff-4.6.0/libtiff/.libs/libtiff.lai
3rdparty/tiff-4.6.0/port/libport_config.h
3rdparty/tiff-4.6.0/port/Makefile
3rdparty/tiff-4.6.0/port/stamp-h4
3rdparty/tiff-4.6.0/port/.deps/dummy.Plo
3rdparty/tiff-4.6.0/port/.deps/getopt.Plo
3rdparty/tiff-4.6.0/test/Makefile
3rdparty/tiff-4.6.0/test/.deps/ascii_tag.Po
3rdparty/tiff-4.6.0/test/.deps/check_tag.Po
3rdparty/tiff-4.6.0/test/.deps/custom_dir.Po
3rdparty/tiff-4.6.0/test/.deps/custom_dir_EXIF_231.Po
3rdparty/tiff-4.6.0/test/.deps/defer_strile_loading.Po
3rdparty/tiff-4.6.0/test/.deps/defer_strile_writing.Po
3rdparty/tiff-4.6.0/test/.deps/long_tag.Po
3rdparty/tiff-4.6.0/test/.deps/rational_precision2double.Po
3rdparty/tiff-4.6.0/test/.deps/raw_decode.Po
3rdparty/tiff-4.6.0/test/.deps/rewrite_tag.Po
3rdparty/tiff-4.6.0/test/.deps/short_tag.Po
3rdparty/tiff-4.6.0/test/.deps/strip.Po
3rdparty/tiff-4.6.0/test/.deps/strip_rw.Po
3rdparty/tiff-4.6.0/test/.deps/test_append_to_strip.Po
3rdparty/tiff-4.6.0/test/.deps/test_arrays.Po
3rdparty/tiff-4.6.0/test/.deps/test_directory.Po
3rdparty/tiff-4.6.0/test/.deps/test_ifd_loop_detection-test_ifd_loop_detection.Po
3rdparty/tiff-4.6.0/test/.deps/test_open_options.Po
3rdparty/tiff-4.6.0/test/.deps/test_signed_tags.Po
3rdparty/tiff-4.6.0/test/.deps/test_transferfunction_write_read.Po
3rdparty/tiff-4.6.0/test/.deps/test_write_read_tags.Po
3rdparty/tiff-4.6.0/test/.deps/testtypes.Po
3rdparty/tiff-4.6.0/tools/Makefile
3rdparty/tiff-4.6.0/tools/.deps/tiffcp.Po
3rdparty/tiff-4.6.0/tools/.deps/tiffdump.Po
3rdparty/tiff-4.6.0/tools/.deps/tiffinfo.Po
3rdparty/tiff-4.6.0/tools/.deps/tiffset.Po
3rdparty/tiff-4.6.0/tools/.deps/tiffsplit.Po
3rdparty/tiff-4.6.0/tools/unsupported/Makefile
3rdparty/tiff-4.6.0/tools/unsupported/.deps/tiff2pdf.Po
3rdparty/tiff-4.6.0/tools/unsupported/.deps/tiff2ps.Po

# allegro
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmcapa.h
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmdef.inc
3rdparty/allegro-4.2.2-xc-master/obj/djgpp/asmdef.s

# build-dirs
3rdparty/openjpeg-2.5.0/build
3rdparty/jasper-version-4.0.0/djgpp

# other
DBS
DBX
DEBUG.TXT
OUT/
dosview-X.Y.zip
DBS.lnk
DBX.lnk
upx-4.2.1-dos/
